WHOIS_API_ENDPOINT=xxx
WHOIS_USER=xxx
WHOIS_PASS=xxx
API_KEY=xxx
CLIENT_ID=xxx
CLIENT_SECRET=xxx
ACCESS_TOKEN_URI=xxx
SCOPE=xxx
MERCHANT_ID=xxx
APP_CERT=xxx
API_PLAN=xxx
FRAUD_ALERTS_API_ENDPOINT=xxx
MERCHANT_VERIFICATION_POINT_API=xxx
